.app {
    display: grid;
    grid-template-columns: 0 1fr;
    grid-template-rows: 6rem 1fr;
    height: 100%;
    overflow: hidden;
}
.wrapper {
    height: 100%;
    overflow-y: auto;
    grid-column: 2 / 3;
    grid-row: 2/3;
    background-color: #f5f4f4;
}
.wrapper__container,
.wrapper__container-full {
    max-width: 140rem;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;

    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
}
.wrapper__container-full {
    max-width: 100%;
}
.wrapper__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 2rem 0;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    color: var(--gray-iron-700);
    font-size: var(--font-size-2xl);
}
.wrapper__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.wrapper__column-1,
.wrapper__column-2,
.wrapper__column-4 {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.wrapper__component {
    --max-width-column: 25rem;
    
    grid-template-columns: 1fr;
    display: grid;
    grid-template-rows: min-content;
    gap: 2rem;
}
@media screen and (min-width: 568px) {
    .wrapper__column-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px) {
    .wrapper__component {
        --max-width-column: 25rem;
        grid-template-columns: repeat(auto-fill, minmax(var(--max-width-column), 1fr));
    }
}
@media screen and (min-width: 992px) {
    .app {
        grid-template-columns: minmax(6.4rem, min-content) 1fr;
    }
    .wrapper__container-full,
    .wrapper__container {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}
@media screen and (min-width: 1024px) {
    .wrapper__column-1 {
        grid-template-columns: 1fr;
    }
    .wrapper__column-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .wrapper__column-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}
