.code{
    grid-column: 2 / 3;
    display: flex;
    max-height: calc(100vh - 6rem);
    overflow: hidden;
}
.code__editor{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}
.code__preview{
    flex: 1;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    height: 100%;
    width: 100%;
    padding: 2rem;
    user-select: none;
    border: 0;
}
.code__preview-resize{
  pointer-events: none;
}
.code__resizerH,
.code__resizerV {
  display: block;
  background-color: #030303;
}

.code__resizerV {
  width: 1rem;
  cursor: col-resize;
}
.code__resizerH {
  height: 1rem;
  cursor: row-resize;
}
