.card {
    --min-height-row: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0.6rem;
    background-color: var(--neutral-50);
    height: var(--min-height-row);
    position: relative;
    overflow: hidden;
    border: 1px solid #dddbdb;
}
.card__component {
    z-index: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
}
.card__component::-webkit-scrollbar {
    width: 0;
}
.card__component > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.card__footer {
    padding: 1.2rem 2.4rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    height: min-content;
    z-index: 10;
    position: relative;
    background-color: var(--gray-iron-50);
}

.card__author {
    display: flex;
    z-index: 10;
    align-items: center;
    gap: 0.6rem;
    color: var(--gray-iron-500);
    font-size: var(--font-size-sm);
    left: 2.4rem;
    bottom: 1.2rem;
    overflow: hidden;
    flex-grow: 1;
}
.card__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.card__username {
    white-space: nowrap;
}

.card__tags {
    display: flex;
    gap: 0.6rem;
    justify-content: flex-end;
    align-items: center;
}
.card__tech {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.6rem;
    line-height: var(--text-line-height);
    border-radius: 0.6rem;
    user-select: none;
    font-size: var(--font-size-sm);
    transition: transform 0.3s;
}
.card__tech--html {
    background-color: var(--bermellon-500);
    color: var(--france-50);
}
.card__tech--css {
    background-color: var(--france-400);
    color: var(--france-50);
}
.card__tech--js {
    background-color: var(--amber-400);
    color: var(--amber-50);
}
.card__view {
    position: absolute;
    bottom: -6.8rem;
    display: flex;
    padding: 0.75em 0.375em;
    background-color: var(--gray-iron-500);
    color: var(--white);
    border-radius: 6px;
    transition: transform 0.3s;
}
.card:hover .card__view {
    transform: translateY(-8rem);
}
.card:hover .card__tech {
    transform: translateY(8rem);
}
